// colors
@defaultTextColor: #606060;
@saTextColor: #191818;

@saRed: #cc1000;
@saRedHover: #af0e00;

@decoration: #e9292a;

@saBlue: #1b99e1;
@saBlueHover: #1680bd;
@saOrange: #f5aa16;
@white: #ffffff;

@saGreyHover: #555555;
@discussParentBg: #FAFAFA;

@header: #30383b;

@backLightGrey: #e6e6e6;
@backUltraLightGrey: #f5f5f5;
@backMenu: #ededed;
@grey: #BCBCBC;
@greyPanelLine: #e9e9e9;
@footerGrey: #c8c8c8;
@footerGreyHover: #D7D7D7;
@menuGrey: #949494;

@toolsBorder: #e8e8e8;

@listSeparator: #f0f0f0;

@blueOverlayLine: #5bb0e0;

//Link colors
@linkNormalColor: inherit;
@linkHoverColor: #cc1000;

@frameLinkColor: #aaaaaa;

@socialFrameColor: #888888;
@socialBorderColor: #d5d5d5;

@selectFrameColor: #868686;

@separators: #eaeaea;

@boxTitle: #bcbcbc;
@formDefaultBorder: #bcbcbc;
@panelLine: #dedede;

@forumBox: #e6e6e6;

@bgAnchors: #2d2d2d;
@bgAnchorsHover: #434343;
@bgAnchorsDark: #b4b4b4;

@saGreen: #00b24e;
@saGreenHover: #009d45;
@saYellow: #ffa800;
@saYellowHover: #ff9600;