//font definitions

//@defaultFontFamily: 'Lato', sans-serif;

@defaultFontFamily: 'Lato', sans-serif;
@boldFontFamily: 'LatoLatinWeb', sans-serif;
@regularFontFamily: 'LatoLatinWeb', sans-serif;
@defaultLineHeight: 1.4em;

//Font sizes
@defaultFontSize: 1.8rem;
@fontSize10: 1.0rem;
@fontSize11: 1.1rem;
@fontSize12: 1.2rem;
@fontSize13: 1.3rem;
@fontSize14: 1.4rem;
@fontSize15: 1.5rem;
@fontSize16: 1.6rem;
@fontSize17: 1.7rem;
@fontSize18: 1.8rem;
@fontSize19: 1.9rem;
@fontSize20: 2.0rem;
@fontSize24: 2.4rem;
@fontSize25: 2.5rem;
@fontSize26: 2.6rem;
@fontSize27: 2.7rem;
@fontSize28: 2.8rem;
@fontSize30: 3.0rem;
@fontSize34: 3.4rem;
@fontSize36: 3.6rem;
@fontSize38: 3.8rem;
@fontSize39: 3.9rem;
@fontSize48: 4.8rem;

@headerFontSize: 3.6rem;

@menuBaseFontSize: 2.0rem;
@menuFontSize: 1.4rem;
@boxProjectHeader: 2.4rem;
@listProjectTxt: 1.6rem;

//Font weights
@fontWeightLight: 300;
@fontWeightNormal: 400;
@fontWeightBold: 400;