@import (reference) "../variables/colors.less";
@import (reference) "../variables/dimensions.less";
@import (reference) "../variables/fonts.less";
@import (reference) "../variables/mixins.less";

div.list-header {
	background: @backLightGrey url(../img/catalog_head.jpg) no-repeat center 110px;
	
	> div {
		height: 255px;
	}
}

div.options {
	margin-bottom: 56px;
	ul {
		li {
			min-width: 160px;
			
			&.selected {
				span {
					&.free {
						&::before {
							background-position: 50% -1071px;
						}
					}
					
					&.nonfree {
						&::before {
							background-position: 50% -1195px;
						}
					}
				}
			}
			
			span {
				&.free {
					&::before {
						background-position: 50% -1011px;
					}
					
					&:hover::before {
						background-position: 50% -1071px;
					}
				}
				
				&.nonfree {
					&::before {
						background-position: 50% -1133px;
					}
					
					&:hover::before {
						background-position: 50% -1195px;
					}
				}
			}
		}
	}
}

div.text-box {
	margin-bottom: 78px;
	.clear;
	
	a {
		color: @saBlue;
	}
	
	a:hover {
		color: @saRed;
	}
}

form.default {
	width: auto;
	
	img {
		max-width: 100%;
	}
	
	label:not(.txt) {
		display: inline-block;
		width: 148px;
		text-transform: uppercase;
		cursor: pointer;
		vertical-align: middle;
	}
	
	label.txt {
		text-decoration: underline;
		cursor: pointer;
	}
	
	input[type="text"] {
		width: 348px;
		margin: 0;
	}
	
	textarea {
		width: 100%;
		height: 285px;
		margin: 64px 0 8px;
	}
	
	input[type="checkbox"] {
		display: none;
	}
	
	input[type="checkbox"] + label {
		padding:  1px 0 1px 22px;
		.iconsBg(0, -2382px);
	}
	
	input[type="checkbox"]:checked + label {
		padding-left: 22px;
		.iconsBg(0, -2407px);
	}
	
	div.agree {
		font-size: @fontSize14;
		
		> div {
			position: relative;
			margin-top: 20px;
			
			> span.ajax-info {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		
		p.error_message {
			position: relative;
			top: 6px;
			line-height: 1em;
		}
	}
	
	li.error_field {
		input[type="text"] {
			border: 1px solid @saRed;
		}
	}
	
	p.error_message {
		position: absolute;
		right: 2px;
		bottom: -24px;
		margin: 0;
	}
}

div.declaration {
	border: 1px solid @grey;
    height: 124px;
    margin: 32px 0;
    overflow: auto;
    padding: 10px;
    font-size: @fontSize14;
}

div.cat-form-box {
	.clear;
	
	+ div {
		margin-top: 96px;
	}
	
	> p {
		clear: both;
		text-align: center;
		padding-top: 32px;
	}
	
	> div {
		float: left;
		width: 50%;
		
		+ div {
			float: right;
			padding-left: 88px;
		}
	}
	
	ul {
		li {
			position: relative;
			
			+ li {
				margin-top: 58px;
			}
		}
	}
}

p.headline {
	font-size: @fontSize24;
	margin-bottom: 24px;
	text-transform: uppercase;
}

div.info-box {
	padding-bottom: 64px;
	
	p + p {
		margin-top: 4px;
	}
	
	a {
		text-decoration: underline;
	}
}


@media all and (max-width: 1300px) {
	form.default {
		label:not(.txt) {
			display: block;
		}
	}
}


@media all and (max-width: 1240px) {
	
	div.list-header {
		background: none !important;
		
		&.activated:hover {
			
			h1 {
				width: auto;
			}
			
			div.header-wrapper {
				width: auto;
				height: auto;
				transform: translate(0, 0);
			}
			
			p {
				text-align: left;
			}
		}
		
		> div {
			height: auto;
			padding-bottom: 48px;
		}
		
		div.header-wrapper {
			position: static;
			top: auto;
			left: auto;
			display: inline-block;
			width: 100%;
			height: auto;
			color: @defaultTextColor;
			background-color: transparent;
			padding: 12px;
			overflow: visible;
			transform: translate(0, 0);
			
			> div {
				padding: 0;
			}
		}
		
		h1 {
			white-space: normal;
			text-align: left;
			margin-top: 16px;
			line-height: 1.2em;
			
			&::after {
		    	opacity: 1;
		    }
		}
		
		p {
			position: static;
			opacity: 1;
			transform: translate3d(0px, 0px, 0px);
		}
	}
}

@media all and (max-width: 1000px) {
	div.cat-form-box {
		> div {
			float: none;
			width: 100%;
			text-align: center;
			
			+ div {
				float: none;
				padding-left: 0;
			}
		}
		
		ul {
			display: inline-block;
			margin-top: 48px;
		}
		
		label {
			text-align: left;
		}
	}
}

@media all and (max-width: 480px) {
	form.default {
		input[type="text"] {
			width: 320px;
			margin-left: 0;
		}
	}
	
	div.cat-form-box {
		ul {
			li {
				text-align: center;
			}
		}
	}
}



